
body {font-family:'Brush Script' Georgia, Arial,"Times New Roman",
         Times, serif;
  background-color:#222;
  color:#d5d5d5;
position: relative;}


.nav{
    padding-top: 0.25rem;
    padding-left: 1.75rem;
  }

.navbar-brand{
  font-size: 32px;
  font-family: 'Papyrus','Brush Script MT';
  font-weight: bold;
  padding-left: 1rem;
  padding-top:1.3rem;
  padding-left: 3rem;
}

.nav-item a{
  font-family: 'Papyrus','Brush Script MT';
  font-size: 18px;
color:#d5d5d5;
}

.nav-item dropdown a{
  color:#d5d5d5;
}

.dropdown-menu{
  background-color: black;
  color:#d5d5d5;
  border-color: #d5d5d5;
}

.nav-item a:hover{
  color:gold;
}
.dropdown-menu{
  background-color: #222;
}

.light{background-color: #222;}
.m_nav{
  padding-top: 5px;
  padding-bottom: 4px;
  width:100%; height:75px;}

.lead{
text-align: right;
padding-right: 50px;
padding-bottom: 50px;
background-color: #222;
  font-family: 'Papyrus',Georgia, Arial;
  font-weight: 700;
  font-size: 28px;
color:#d5d5d5;}

#fixed {
  padding: 0;
  margin: 0;
  background-image: url('img/bggif.gif');
  height: 620px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


.padding p{
  font-size:20px;
}
.btn-primary{
  background-color: #8f785c;
  border: none;
}
.btn-primary:hover{
  background-color: #dab781;
}
.title1{
  padding-top: 10px;
}

.jumbotron{
  padding-top: 50px;
  background-color: #222;
}

.map2{
padding-top:50px;
  margin: 0;
  background-image: url('img/map2.jpg');
  height:960px;
  background-repeat: no-repeat;
  background-position: center;

}
.maptext{
  font-size: 32px;
  font-family: 'Papyrus','Brush Script MT';
  font-weight: bold;
  text-align: center;
    color:gold;
}

.bn1{
  width: 40px;
  height: 37px;
  position: relative;
  border: none;
  background-image: url('img/target.png');
  background-color: rgba(255, 255, 255, 0);
  left:600px;
  top:430px;
}

.bn2{
  width: 40px;
  height: 37px;
  position: relative;
  border: none;
  background-image: url('img/target.png');
  background-color: rgba(255, 255, 255, 0);
  left:230px;
  top:300px;
}
.bn3{
  width: 40px;
  height: 37px;
  position: relative;
  border: none;
  background-image: url('img/target.png');
  background-color: rgba(255, 255, 255, 0);
  left:700px;
  top:280px;
}

.bn4{
  width: 40px;
  height: 37px;
  position: relative;
  border: none;
  background-image: url('img/target.png');
  background-color: rgba(255, 255, 255, 0);
  left:470px;
  top:630px;
}
.bn5{
  width: 40px;
  height: 37px;
  position: relative;
  border: none;
  background-image: url('img/target.png');
  background-color: rgba(255, 255, 255, 0);
  left:800px;
  top:600px;
}
.bn6{
  width: 40px;
  height: 37px;
  position: relative;
  border: none;
  background-image: url('img/target.png');
  background-color: rgba(255, 255, 255, 0);
  left:700px;
  top:100px;
}
.bn7{
  width: 40px;
  height: 37px;
  position: relative;
  border: none;
  background-image: url('img/target.png');
  background-color: rgba(255, 255, 255, 0);
  left:200px;
  top:460px;
}
.bn8{
  width: 40px;
  height: 37px;
  position: relative;
  border: none;
  background-image: url('img/target.png');
  background-color: rgba(255, 255, 255, 0);
  left:-50px;
  top:200px;
}
.bn9{
  width: 40px;
  height: 37px;
  position: relative;
  border: none;
  background-image: url('img/target.png');
  background-color: rgba(255, 255, 255, 0);
  left:200px;
  top:320px;
}
.bn10{
  width: 40px;
  height: 37px;
  position: relative;
  border: none;
  background-image: url('img/target.png');
  background-color: rgba(255, 255, 255, 0);
  left:120px;
  top:160px;
}

.bn11{
  width: 40px;
  height: 37px;
  position: relative;
  border: none;
  background-image: url('img/target.png');
  background-color: rgba(255, 255, 255, 0);
  left:90px;
  top:420px;
}
.carousel-inner img{
  width: 100%;
  height: 100%;
}

.card-text{
  font-size: 12px;

}

.img-thumbnail{
  background-color: #8f785c;
  border: none;
  width: 200px;
  height:250px;
}

.nav-pills a{
  color:white;
}

.nav-pills a:hover{
color:gold;}


.pillankor{
  font-family:'Papyrus','Brush Script MT';
}
.pillheading{
  font-family: 'Papyrus','Brush Script MT';
  color:#dab781;
  font-size: 27px;
}
.font-italic{
  color:#8f785c;
  font-size: 19px;
}
.pilltext{
  font-size: 18px;
  font-weight: 100;
}


.lead2{
text-align: left;
padding-right: 50px;
padding-bottom: 50px;
background-color: #222;
  font-family: 'Papyrus',Georgia, Arial;
  font-weight: 700;
  font-size: 28px;
color:#d5d5d5;}

.memoryimg {
  width: 800px;
}
.memory p {
font-family: 'Papyrus',Georgia, Arial;
font-size: 25px;
}
.memorytext p{
  font-family:'Brush Script' Georgia, Arial,"Times New Roman";
  font-style: italic;
}

.social a{

  font-size: 3rem;
  padding: 3.2rem;
}
.fa-facebook{
  color: #3b5999;
}
.fa-twitter{
  color: #1fa1f5;
}
.fa-reddit{
  color: #ff4603;
}
.fa-youtube{
  color: #fd0221;
}
.fa-instagram{
  color: #517fa4;
}
.fa-tumblr{
  color: #2b405b;
}
.fa-facebook:hover, .fa-twitter:hover, .fa-reddit:hover, .fa-tumblr:hover, .fa-youtube:hover.fa-instagram{
{
  color: #d5d5d5;
}

hr.light{

  border-top: 1px solid #d5d5d5;
  width: 300%;
  margin-left: -5rem;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
