body{
  font-family: "Poppins"
}

#contactcss {
  height: auto;
  padding: 80px 0;
  background-color: #696969;
}

.contact-text p{
  font-family: "Poppins";
  color:#DCDCDC;
  font-size: 14px;
  text-align: center;

}


.contact-text h5{
  font-family: "Poppins";
  color:#F5F5F5;
  font-size: 20px;
  font-weight: 400;
    text-align: center;

}
